In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("alumnos.csv")
df.head(12)

    padron materia  nota  fecha
0      100       A     8   2019
1      102       A     7   2019
2      103       B     5   2018
3      104       C     4   2019
4      105       A     9   2019
5      104       B     8   2019
6      105       D     7   2018
7      103       E     6   2019
8      102       F     8   2019
9      100       F     9   2018
10     102       A     6   2019
11     102       B     2   2019

In [3]:
#Obtengo el promedio

df.nota.mean()

6.583333333333333

In [4]:
#Obtengo la nota mas alta del 2019

alumnos2019 = df.loc[df.fecha == 2019]
alumnos2019.nota.max()

9

In [88]:
#Obtengo la nota mas alta del 2019

alumnos2019 = df.loc[df.fecha == 2019]
alumnos2019.nota.min()

2

In [100]:
#Padron con mayor materia aprobada durante 2019

#Me quedo con df de aprobados en 2019
alumnos_aprobados_2019 = df.loc[(df.fecha == 2019) & (df.nota >= 4)]


#Defino funcion que cuenta las materias aprobadas por grupo
from collections import OrderedDict

def contar_materias(df1):
    # lo usamos para preservar el orden de insercion
    data = OrderedDict()
    data['Materias Aprobadas'] = len(df1)
    return pd.Series(data)

#Agrupo por padron y cuento materias de cada grupo

#____________________________________________agrupo por padron____acumulo materias_______ordeno de mayor a menor__________________________agrego indice
creditos_por_alumno = alumnos_aprobados_2019.groupby('padron').apply(contar_materias).sort_values('Materias Aprobadas', ascending = False).reset_index()

#Obtengo el padron de la primer linea
creditos_por_alumno.iloc[0, 0]

102

In [117]:
#Nota promedio

df['nota'].mean()

6.583333333333333

In [14]:
#Nota promedio por padron

df.groupby('padron')['nota'].mean().reset_index().sort_values('nota', ascending = False)#

#Esta alternativa trabajaba con mas info al pedo (pues despues ignora las columnas)
#promedio_por_padron = df.groupby('padron').agg(np.mean).reset_index()
#promedio_por_padron[['padron', 'nota']]

   padron  nota
0     100  8.50
4     105  8.00
3     104  6.00
1     102  5.75
2     103  5.50