In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Practica Pandas/Untitled 1.csv")
df.head(12)

    padron materia  nota  fecha
0      100       A     8   2019
1      102       A     7   2019
2      103       B     5   2018
3      104       C     4   2019
4      105       A     9   2019
5      104       B     8   2019
6      105       D     7   2018
7      103       E     6   2019
8      102       F     8   2019
9      100       F     9   2018
10     102       A     6   2019
11     102       B     2   2019

In [37]:
#Obtengo el promedio

df.nota.mean()

6.583333333333333

In [38]:
#Obtengo la nota mas alta del 2019

alumnos2019 = df.loc[df.fecha == 2019]
alumnos2019.nota.max()

9

In [39]:
#Obtengo la nota mas alta del 2019

alumnos2019 = df.loc[df.fecha == 2019]
alumnos2019.nota.min()

2

In [56]:
#Padron con mayor materia aprobada durante 2019

alumnos_aprobados_2019 = df.loc[(df.fecha == 2019) & (df.nota >= 4)]
alumnos_aprobados_2019.head(15)

    padron materia  nota  fecha
0      100       A     8   2019
1      102       A     7   2019
3      104       C     4   2019
4      105       A     9   2019
5      104       B     8   2019
7      103       E     6   2019
8      102       F     8   2019
10     102       A     6   2019