In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

diario = pd.read_csv("nyse_daily.csv")
sp = pd.read_csv("s&p_500.csv")

In [31]:
diario.head()

   symbol      date    open  measure_midday  measure_afternoon   close  volume
0  NASDAQ  09/21/19  1000.0          1101.0             1200.0  1300.0     100
1  MERVAL  09/21/19  2000.0          2021.0             2000.0  1980.0     200
2   APPLE  09/21/19  3000.0          3042.0             3050.0  3045.0     300
3   FBOOK  09/21/19  4000.0          4021.0             4012.0  4011.0     100
4      ML  09/21/19  5000.0          5055.0             5010.0  5009.0     200

In [32]:
sp.head()

   symbol        company_name
0      ML        MercadoLibre
1  MERVAL  Mercado de Valores
2  NASDAQ              Nasdaq

In [48]:
diario['avg'] = (diario['open'] + diario['measure_midday'] + diario['measure_afternoon'] + diario['close']) / 4

In [54]:
diario_reducido = diario.loc[:, ['symbol','date','avg']]
sp500daily = pd.merge(diario_reducido, sp, on = 'symbol', how = 'inner')
sp500daily.sort_values('date', ascending = True)

   symbol      date        avg        company_name
0  NASDAQ  09/21/19  1150.2500              Nasdaq
3  MERVAL  09/21/19  2000.2500  Mercado de Valores
6      ML  09/21/19  5018.5000        MercadoLibre
1  NASDAQ  09/22/19  1361.1000              Nasdaq
4  MERVAL  09/22/19  2073.0600  Mercado de Valores
7      ML  09/22/19  5244.4230        MercadoLibre
2  NASDAQ  09/23/19  1191.1250              Nasdaq
5  MERVAL  09/23/19  2007.8250  Mercado de Valores
8      ML  09/23/19  5039.1475        MercadoLibre

In [ ]:
#######################################################################
#     SI LO QUE PEDIAN ERA PROMEDIO DE TODAS AQUELLAS EN S&P POR DIA  #
#######################################################################

In [55]:
# Me quedo con las que estan en el listado sp
diario_sp = pd.merge(diario, sp, on = 'symbol', how = 'inner')

# Saco el promedio por simbolo para cada fecha
diario_sp['avg'] = (diario_sp['open'] + diario_sp['measure_midday'] +\
                    diario['measure_afternoon'] + diario['close']) / 4

# Me quedo con promedio, simbolo y fecha
diario_sp.drop(columns = ['open', 'measure_midday', 'measure_afternoon', 'close', 'volume'], inplace = True)

In [59]:
sp500 = diario_sp.groupby('date')['avg'].agg(np.mean).reset_index()

In [60]:
sp500.head()

       date          avg
0  09/21/19  3386.750000
1  09/22/19  2843.358333
2  09/23/19  3234.260833