In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df1 = pd.read_csv("encuesta.csv")
df2 = pd.read_csv("hospitales.csv")

In [62]:
df1.head()

   dia_nac  mes_nac  anio_nac  peso_nac  long_nac id_hospital  tipo_parto
0       10        9      2017      2500        30           A           1
1       11        9      2017      3000        31           B           1
2        9        9      2016      2700        35           C           2
3        5        9      2016      1800        37           C           1
4        3        9      2017      2501        30           B           1

In [63]:
df2.head()

  id_hospital         direccion  promedio_nac_mensual
0           A      stream karma                   3.4
1           B  stream superstar                   3.6
2           C     stream marina                   2.3

In [64]:
# Calcular la cantidad de nacimientos para cada uno de los hospitales para el mes de
# Octubre de 2017 e indicar aquellos hospitales que superan el promedio de nacimientos
# mensuales.

#Limpio solo aquellos nacimientos dados en octubre 2017
df3 = df1.loc[(df1['mes_nac'] == 9) & (df1['anio_nac'] == 2017)]

#Me quedo con la cuenta de nacimientos
df3 = df3.groupby('id_hospital')['tipo_parto'].agg(len).reset_index()
df3.rename(columns = {'tipo_parto' : 'partos_oct_2017'}, inplace = True)

#Mergeo con los datos de hospitales
df4 = pd.merge(df3,df2, on = 'id_hospital', how = 'inner')
df4

  id_hospital  partos_oct_2017         direccion  promedio_nac_mensual
0           A                3      stream karma                   3.4
1           B               10  stream superstar                   3.6
2           C                3     stream marina                   2.3

In [65]:
#Me quedo con aquellos que superen el promedio de nacimientos mensual

df5 = df4.loc[df4['partos_oct_2017'] > df4['promedio_nac_mensual']]
df5.loc[:, 'id_hospital']

1    B
2    C
Name: id_hospital, dtype: object

In [94]:
# Comparando el mes de Septiembre de 2017 indicar programáticamente si se incremento el
# porcentaje (%) de cesáreas con respecto a ese mes del año 2016.

#Me quedo con todos los nacimientos por cesarea dados en el mes de octubre
nac_cesarea_sep = df1.loc[(df1['tipo_parto'] == 2) & (df1['mes_nac'] == 9)]
nac_cesarea_sep.head(15)

#Agrupo por año
df6 = nac_cesarea_sep.groupby('anio_nac')['tipo_parto'].agg(len).reset_index()
df6 = df6.rename(columns = {'tipo_parto' : 'partos_por_cesarea_sept'})

df6['Porcentaje de cambio vs anio anterior'] = df6['partos_por_cesarea_sept'].pct_change()*100
df6.head()

   anio_nac  partos_por_cesarea_sept  Porcentaje de cambio vs anio anterior
0      2016                        5                                    NaN
1      2017                        6                                   20.0